.produce{
    display: flex;
    box-shadow: 4px 4px  rgba(19, 19, 19, 0.405);
    border: 1px solid rgba(19, 19, 19, 0.405);
    border-radius: 20px;
    width: 45em;
    padding: 10px 0px 10px 10px;
    margin-top: 20px;

}
.cart-page{
    padding-left: 150px;
    display: flex;
}
.ship{
    background-color: rgba(66, 61, 61, 0.247);
    padding: 50px;
    border-radius: 20px;
}
.button{
    margin-top: 80px;
    margin-left: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    background: green;
    color: #fff;
    border-radius: 10px;
    border: none;
}
.cart-items{
    padding-right:50px;
}
.text2 p, span{
    padding-left: 20px;
}
.shipment{
    display: flex;
}
.Cart{
    padding-top: 100px;
}