  .Categories{
    padding-left: 200px;
    padding-right: 100px;
    padding-top: 100px;
  }
  .frame img{
    height: 100px;
    width: 130px;
    display:block;
  }
  .frame1{
    display:flex;
  }
  .frame1 img{
    width: 123px;
    height: 157px;
    margin-top: 7px;
    padding-right: 20px;
    
  }
  .frame2 img{
    width: 600px;
    height: 550px;
  }
  #price-tag{
    text-align: left;
    
  }
  .Quantity{
    display:flex;
    justify-content: space-between;
  }
  .star1{
    color: rgba(255, 179, 0, 0.903);
    
}
  #Add1{
    background-color:orange;
    width: 150px;
    padding: 10px;
    
  }
  
  #btn{
    width: 320px;
    height: 50px;
    background-color: green;
    color: black;
    font-weight: 600;
    margin-top: 20px;
    border: none;
  }
  
  #social{
    display:flex;
  }
  i{
    margin-left: 10px;
  }
  #mrp{
    color: rgb(91, 88, 88);
  }
  #you{
    color: rgb(51, 200, 18);
  }
  #font{
    color: #555151;
    ;
  }
  .reviews{
    width: 800px;
    height: 400px;
  }
.line{
    display:flex;
}
.line li{
  padding: 3px;
}
.star{
  color: black;
}
.Reviews{
  padding-left: 200px;
}