*{
    overflow-x: hidden;
}
.home{
    padding-top: 90px;
}
.home-content{
    padding-top: 200px;
    padding-bottom: 200px;
    background: url('C:\Users\Nikitha shetty\OneDrive\Desktop\react project\myapp\public\Assets\bg.png');
    background-size:cover;
    position:relative;
    background-repeat: no-repeat;
}
.box{
    border-radius: 10px;
}
#home{
    padding-left: 510px;
    padding-right: 580px;
    width: 500px;
}
#home p{
    font-size: 20px;
}
#home button{
    margin-left: 270px;
    background-color: green;
    border: none;
    color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 23px;
    border-radius: 10px;
}
.text{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    padding-right: 40px;
}
.text1{
    display: flex;
}
.Offer{
    display: flex;
}
.veges{
    border-radius:12px;
    border: 1px solid black;
    margin-left: 230px;
    margin-top: 50px;
    padding: 20px;
    background-color: rgb(144, 144, 8);
    border-style: none;

}
.veges h1{
    text-align: center;
    padding-top: 40px;
    font-weight:700;
    font-size: 20px;
}
.img1{
    padding: 40px;
    padding-top: 50px;
    
}

.Fruit{
    padding: 30px;
    padding-right: 80px;
    display: flex;
    margin-top: 50px;
    border: 1px solid black;
    margin-left: 30px;
    border-radius: 10px;
    border-style: none;
    background-color:rgb(230, 109, 109);
}
.Fruit h1{
    color: white;
    font-size: 17px;
    font-weight: 700;
    padding-top: 20px;
}
.img2{
    padding: 10px;
}
.Fruit button{
    margin-top: 20px;
    border-radius:5px;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border-style: none;
    background-color: green;
    color: white; 
    font-size: 18px;
    margin-left: 50px;
}
.Juice{
    border: 1px solid black;
    display: flex;
    margin-left: 30px;
    margin-top: 20px;
    padding: 30px;
    border-radius:10px;
    background-color: rgb(239, 84, 28);
    border-style: none; 

}
.Juice h2{
    font-size: 13px;
    margin-left: 30px;
    color: white;
    font-weight: 500;
}
.Inform img{
    margin-top: 40px;
    margin-left: 30px;
}
.img3{
   margin-left: 70px;   
}
.flashsales{
    display: flex;
    justify-content: center;}
    .duration{
        display: flex;
        padding: 30px;
        margin-left: 290px;
        padding-top:2px;
    }
    .days{
       border: 1px solid black;
       width: 14em;
       margin: 30px;
       border-radius: 10px;
       background-color: rgb(19, 19, 19);
    }
    .days h2 ,h3{
        text-align: center;
        color: white;
        font-size: 15px;
    }
    .days h2{
        padding-top: 10px;
    }
    
    .hours{
        border: 1px solid rgb(19, 19, 19);
        width: 14em;
       margin: 30px;
       border-radius: 10px;
       background-color: black;
    }
    .hours h2,h3{
        color: white;
        font-size: 15px;
        text-align: center;
    }
    .hours h2{
        padding-top: 10px;
    }
    .minutes{
        border: 1px solid black;
        width: 14em;
       margin: 30px;
       border-radius: 10px;
       background-color:rgb(19, 19, 19);
    }
    .minutes h2, h3{
        color: white;
        font-size: 15px;
        text-align: center;
    }
    .minutes h2{
        padding-top: 10px;
    }
    .items{
        display:flex;
        padding-left: 200px;
        
    }
    .star1{
        color: rgba(255, 179, 0, 0.903); 
    }
    .str{
        color: black;
    }
    .detail span{
        color: black;
        font-size: 20px;
        font-weight: 200;
    }
    .cart{
        border: 1px solid black;
        padding: 2px;
        border-radius: 50px;
        margin-left: 20px;
        background-color: rgb(129, 160, 98);
        border-style: none;
    
    }
    .fish{
        padding: 25px;
        padding-left: 30px;
        display: flex;
        border: 1px solid black;
        margin: 20px;
        border-radius:10px;
        transform: rotate(-2deg)
    }
    
    .Anjura{
        padding: 15px;
        padding-left: 30px;
        display: flex;
        border: 1px solid black;
        margin: 20px;
        border-radius:10px;
        transform: rotate(-2deg)
    }
    .cart1{
        border: 1px solid black;
        padding: 2px;
        border-radius: 50px;
        margin-left: 25px;
        background-color: rgb(129, 160, 98);
        border-style: none;
        margin-top: 10px;
       
    }
    .berry{
        padding: 25px;
        padding-left: 30px;
        display: flex;
        border: 1px solid black;
        margin: 20px;
        border-radius:10px;
        transform: rotate(-2deg)
    }
    
    .cart2{
        border: 1px solid black;
        padding: 2px;
        border-radius: 50px;
        background-color: rgb(129, 160, 98);
        border-style: none;
        margin-top: 10px;
    }
    .bestdeals h1{
        font-size: 30px;
        font-weight: 500;
        text-align: center;
    }
    .stars{
       color: yellow;
       padding-top: 13px;
    }
    .fruit{
       font-size: 15px;
    }
    .group1{
       display: flex;
       flex-wrap: wrap;
       padding-left: 220px;
    }
    .cart2{
       margin-left: 15px;
    }
    .heart{
       padding-left: 10px;
       color: black;
    }
    .Orange{
       border: 1px solid black;
       border-radius: 20px;
       margin: 20px;
       width: 14em;
       height: 18em;
       border-style: none;
       box-shadow: 4px 4px rgba(19, 19, 19, 0.405);
       text-align: center;
    }
    .Orange img{
       padding-top: 25px;
    }
    .Kiwi{
       border: 1px solid black;
       border-radius: 20px;
       margin: 20px;
       width: 14em;
       height: 18em;
       border-style: none;
       box-shadow: 4px 4px rgba(19, 19, 19, 0.405);
       text-align: center;
    }
    .Kiwi img{
       padding-top: 25px;
    }
    .Banana{
       border: 1px solid black;
       border-radius: 20px;
       margin: 20px;
       width: 14em;
       height: 18em;
       border-style: none;
       box-shadow: 4px 4px rgba(19, 19, 19, 0.405);
       text-align: center;
    }
    .Banana img{
       padding-top: 25px;
    }
    .Tomato{
       border: 1px solid black;
       border-radius: 20px;
       margin: 20px;
       width: 14em;
       height: 18em;
       border-style: none;
       box-shadow: 4px 4px rgba(19, 19, 19, 0.405);
       text-align: center;
    }
    .Tomato img{
       padding-top: 25px;
    }
    
    .group2{
       display: flex;
       padding-left: 220px;
    }
    
    .Spices{
       border: 1px solid black;
       border-radius: 20px;
       margin: 20px;
       width: 14em;
       height: 18em;
       border-style: none;
       box-shadow: 4px 4px rgba(19, 19, 19, 0.405);
       text-align: center;
    }
    .Spices img{
       padding-top: 28px;
    }
    .Milk{
       border: 1px solid black;
       border-radius: 20px;
       margin: 20px;
       width: 14em;
       height: 18em;
       border-style: none;
       box-shadow: 4px 4px rgba(19, 19, 19, 0.405);
       text-align: center;
    }
    .Milk img{
       padding-top: 27px;
    }
    .Cheese{
       border: 1px solid black;
       border-radius: 20px;
       margin: 20px;
       width: 14em;
       height: 18em;
       border-style: none;
       box-shadow: 4px 4px rgba(19, 19, 19, 0.405);
       text-align: center;
    }
    .Cheese img{
       padding-top: 35px;
    }
    
    .Water{
       border: 1px solid black;
       border-radius: 20px;
       margin: 20px;
       width: 14em;
       height: 18em;
       border-style: none;
       box-shadow: 4px 4px rgba(19, 19, 19, 0.405);
       text-align: center;
    }
    .Water img{
       padding-top: 28px;
    }
    .contactus{
        display: flex;
        color: white;
    }
    .contactus:hover{
        cursor: pointer;
    }
    
    .Contact1{
        align-items: center;
        padding: 60px;
        font-size:20px;
        line-height: 1.5;
        width:400px;
        background-color: rgb(3, 37, 29);
    
    }
    .Contact2{
        text-align:center;
        padding: 50px;
        font-size:20px;
        width:400px;
        background-color: #0c3429;
    }
    .Contact3{
        font-size:20px;
        line-height: 1.5;
        text-align: right;
        background-color: rgb(3, 37, 29);
        width: 300px;
        padding: 50px 100px 50px;
    }
    .con-logo {
        font-size: 45px;
        font-weight: bold;
        font-family:'Times New Roman', Times, serif;
        background: linear-gradient(to right, #05674b 20%, rgb(6, 236, 6) 30%,orange 2%,#676408 45%,orange 55%,#676408 45%,rgb(16, 98, 16));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }




