.navbar{
    margin: 0;
    display: flex;
    align-items: center;
    padding-left: 15px;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgb(224, 220, 220);
    position: fixed;
    width: 100%;
    z-index: 2;
}
.nav-logo {
    font-size: 25px;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    background: linear-gradient(to right, #05674b 20%, rgb(6, 236, 6) 30%,orange 2%,#676408 45%,orange 55%,#676408 45%,rgb(16, 98, 16));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.navbar ul{
    flex: 1;
    list-style: none;
    text-align: center;

}
.navbar a{
    text-decoration: none;
    color: black;
}
.navbar ul li{
    display: inline-block;
    margin: 10px 10px;
    font-size: 18px;
    cursor: pointer;
    font-weight: 500
}
.hrt{
    padding-right:20px;
}

.login{
    width: 80px;
    height: 30px;
    outline: none;
    border: 2px solid black;
    color: black;
    border-radius: 75px;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    /* margin: 30px; */
    background-color: #fff;
}
.register{
    width: 80px;
    height: 30px;
    outline: none;
    border: 2px solid black;
    color:green;
    border-radius: 75px;
    font-weight:bold;
    font-size: 15px;
    cursor: pointer;
    margin: 30px;
    background: #fff;
}
.search-box{
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 50px;
    border: 2px solid green;
    margin-left: 100px;
    width: 250px;
}
.search-box input{
    font-size: 15px;
    display: flex;
    align-items: center;
    padding: 4px;
    border-radius: 50px;
    width: 220px;
    border: none;
    outline: none;
    
}
.nav-menu hr{
    border: none;
    width:90%;
    height:3px;
    border-radius: 10px;
    background-color: #040e55;
}
.nav-cart-count{
    width:20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -25px;
    margin-left: -15px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}
.login{
    margin-left: 80px;
}